on boot
    # Always start adbd on userdebug and eng builds
    # Please remove follow comment in debug mode.
    # mount ext4 /dev/block/bootdevice/by-name/system /system wait ro barrier=1
    # write /config/usb_gadget/g1/UDC a600000.dwc3
    # start adbd
